# ------------------------------ #
#            General             #
# ------------------------------ #

# OS
.DS_STORE
Thumbs.db
*.sh
*.bat

# Editors
.history
.idea
.vscode/*
*.sublime-workspace
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules
